* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    height: 50px;
    background-color: aqua;
}
ul li {
    display: inline-block;
    padding: 0 106.3px;
    line-height: 50px;
}
ul li:hover {
    background-color: blue;
}
li a {
    text-decoration: none;
}
li:hover a{
    color: #fff;
}
